.wishlist_background{
    opacity: 0.5;
    /* Set rules to fill background */
    min-height: 100%;
    /* min-width: 1024px; */

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position:absolute;
    top: 108px;
    left: 0;
    z-index: -1;
};


.wishlist-title{
    text-align: center;
    font-size: 12cm;
    padding-top: 2rem;
}; 